/*Reseteo de CSS*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*Fin Reseteo de css*/
.imagenPerfil {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.contenedorTotal {
  overflow-y: scroll;
  height: calc(100vh - 90px);
}
.informacionesPerfil {
  background-color: #252526;
  margin: 0;
}
.contenedorPrincipal {
  margin: 0;
  margin-right: 5px;
  margin-left: 15px;
  padding: 0;
  background-color: #252526;
}

h1 {
  color: #49a6f7;
}

h4 {
  color: #49a6f7;
}

.linea {
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: -15px;
  color: #49a6f7;
  size: 2ch;
}

.infoUsuario {
  margin-left: -90px;
  margin-top: -5px;
  text-align: center;
}

.nombre2 {
  margin-left: 30px;
}

.contenedorImagen {
  height: auto;
  border-radius: 15%;
}

.botonGenero {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-left: 35px;
  margin-top: 10px;
}

.generos {
  color: #49a6f7;
  margin-left: 20px;
  margin-bottom: 20px;
}

.generoCancion {
  font-size: 19px;
  padding: 20px;
  text-align: center;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  height: 75px;
  background-color: #007bff;
  border-radius: 10px;
  margin-bottom: 50px;
}

.contenedorGeneros {
  color: #007bff;
}

.elecionGenero {
  background-color: #007bff;
  border-radius: 10px;
  padding: 15px;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.fecha {
  margin-left: -40px;
  font-size: 24px;
}

.datosPersonales {
  color: #49a6f7;
  position: relative;
  bottom: -60px;
}

.contenedorTitulos {
  height: 48px;
  width: 280px;
  background-color: #7c7c7c;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.tituloCancion {
  color: white;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.botones2 {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: #db69af;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.botones3 {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: #db69af;
  color: white;
}

.contenedorBotones {
  margin-top: 50px;
}

.nombre {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.apartadoSesion {
  margin-top: 40px;
  border-top: white;
  border-width: 5px;
}
