.reproductor,
.reproductor2 {
  display: none;
}
.header {
  background-color: aquamarine;
  margin-bottom: 0;
}

.section {
  background-color: darkkhaki;
  margin-bottom: 0;
}

.barraDeReproduccion {
  background-color: rgb(169, 124, 253);
  position: absolute;
  top: 80%;
}
.todoRojo {
  background-color: red;
}

.listaCanciones,
.ListaAmigos {
  flex: 1 1 0;
  height: 88vh;
}

.Main {
  flex: 4 1 0;
  height: 88vh;
}

.barraReproduccion {
  height: 12vh;
  margin: 0;
  background-color: #8888ce;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.322);
}

.botonBack,
.botonPlay,
.botonNext {
  size: 2.5rem;
  font-size: large;
}

@media (min-width: 576) {
  .volumen {
    display: none;
  }
}
