:root {
  --oscuroFondo: #161616;
  --oscuroDelantero: #1f1f1f;
  --azulprincipal: #007acc;
  --azulsecundario: #0066aa;
}

.plainText {
  color: var(--azulprincipal);
}
.reproductor,
.reproductor2 {
  display: none;
}
.header {
  background-color: var(--oscuroFondo);
  margin-bottom: 0;
}

.section {
  background-color: var(--oscuroDelantero);
  margin-bottom: 0;
}

.barraDeReproduccion {
  background-color: var(--oscuroDelantero);
  position: absolute;
  top: 80%;
}

.listaCanciones,
.ListaAmigos {
  flex: 1 1 0;
  height: 87vh;
  color: white;
}

.Main {
  flex: 4 1 0;
  height: 87vh;
}

.barraReproduccion {
  height: 13vh;
  margin: 0;
  background-color: var(--oscuroDelantero);
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.322);
}

.botonBack,
.botonPlay,
.botonNext {
  size: 100px;
  font-size: larger;
}

.tiempoCancion {
  color: white;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: medium;
}

.barritaReproductora {
  padding-left: 2px;
  padding-right: 2px;
}

.nombreCancion {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: var(--azulprincipal);
}
.Artista {
  font-size: medium;
  text-align: center;
  color: var(--azulprincipal);
}
@media (max-width: 575px) {
  .volumen {
    display: none;
  }
  .listaCanciones,
  .ListaAmigos,
  .Main {
    height: 82vh;
  }
  .barraReproduccion {
    height: 18vh;
  }
}

.buscadorMusica {
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 5%;
  border-radius: 10px;
}
.contenedorMatches {
  width: 300px;
  height: 90vh;
  background-color: #252526;
}
.futurasParejas {
  width: 290px;
  height: 290px;
  background-color: blue;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
.nombre {
  color: #000;
}
.botones {
  margin-top: -20px;
}
.boton {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-left: 40px;
  border-color: grey;
  background-color: #46464e;
}
.boton2 {
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-left: 40px;
  border-color: grey;
  background-color: #46464e;
}
.contenedorIformaciones {
  margin-left: 40px;
}
.infoPareja {
  color: #73b2e9;
  margin-top: -20px;
}
.nombre {
  color: #49a6f7;
}
.myrythm {
  margin-left: 40px;
}

.logo {
  color: #49a6f7;
  font-size: 25px;
  margin-top: 10px;
  margin-left: -8px;
}
.logo {
  margin-left: 50px;
}
.rechazar {
  color: red;
  font-size: 35px;
  margin-left: -2px;
}
.corazon {
  color: rgb(104, 223, 24);
  font-size: 35px;
  margin-left: -1px;
  margin-top: 3px;
}
.botonImpostaciones {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 20px;
  border: none;
  background-color: #252526;
  margin-left: -20px;
}
.botonChat {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 20px;
  border: none;
  background-color: #252526;
  margin-left: 50px;
}
.icono {
  color: grey;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  margin-left: -19px;
  margin-top: -3px;
}
