.AmigoIndiv {
  margin: 5px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.63);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
  color: var(--azulprincipal);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nombreAmigui {
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.IconoMensaje {
  transform: scale(1.5, 1.5);
  color: #b1568e;
  margin-bottom: 3px;
  margin-right: 3px;
}
.IconoMensaje:hover {
  transform: scale(1.7, 1.7);
  color: #db69af;
}
